h1.title  {font-size:110%; margin-bottom:0.2em; margin-top:0.1em; whitespaces}

a:link, a:visited       {color: #7c2b00;}
a:hover                                   {color: #AA3B00;}
a:active                                 {color: #AA3B00;}

body {
    margin: 2px;
    margin-right: 30px;
    background: #e9deb9;
    font-size: 14px;
    font-family: Arial, Sans-Serif;
}

.editorTbl {
    font-size:100%; line-height:130%; margin-bottom:0.5em; margin-top:0; 
    text-align: left;
    vertical-align: top;
    border-right: 1px dashed #5c290a;
    border-bottom: 1px dashed #5c290a;
    border-left: 1px dashed #5c290a;
    width: 25%;
    padding: 10px;
    
    
}
.lookTbl {
    font-size:100%; line-height:130%; margin-bottom:0.5em; margin-top:0;  
    text-align: left;
    vertical-align: top;
    border-bottom: 1px dashed #5c290a;
    padding: 10px;
}
.interviewTbl {

    font-size:100%; line-height:130%; margin-bottom:0.5em; margin-top:0;  
    text-align: left;
    vertical-align: top;
    width: 25%;
    padding-left: 4px;
    border-left: 1px dashed #5c290a;
    border-bottom: 1px dashed #5c290a;
    border-right: 1px dashed #5c290a;
    padding: 10px;
}
.blackTbl {
    font-size:100%; line-height:130%; margin-bottom:0.5em; margin-top:0;  
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px dashed #5c290a;
    border-right: 1px dashed #5c290a;
    border-left: 1px dashed #5c290a;
    width: 20%;
}
.humorTbl {
    font-size:100%; line-height:130%; margin-bottom:0.5em; margin-top:0;  
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px dashed #5c290a;
    border-right: 1px dashed #5c290a;
}
.date {
    font-size: 70%;
    color: #999999;
    font-family: Georgia;
}
.author {
    font-size: 90%;
    font-family: Georgia;
    font-style: oblique;
}
